:root {
  --random-hue: 0deg;

  --bg-main: #ffe0e0;
  --bg-container: #ffb8b8;
  --bg-container-accent: #ea9a9a;
  --bg-settings: #ffffff44;
  --txt-main: #441010;
  --txt-light: #44101088;

  font-size: 16px;
}

[color-theme="light"] {
  --bg-main: #ffe0e0;
  --bg-container: #ffb8b8;
  --bg-container-accent: #ea9a9a;
  --bg-settings: #ffffff44;
  --txt-main: #441010;
  --txt-light: #44101088;
}
@media (prefers-color-scheme: light) {
  [color-theme="auto"] {
    --bg-main: #ffe0e0;
    --bg-container: #ffb8b8;
    --bg-container-accent: #ea9a9a;
    --bg-settings: #ffffff44;
    --txt-main: #441010;
    --txt-light: #44101088;
  }
}

[color-theme="dark"] {
  --bg-main: #000000;
  --bg-container: #5a2a2a;
  --bg-container-accent: #3d1b1b;
  --bg-settings: #00000088;
  --txt-main: #ffe0e0;
  --txt-light: #ffe0e044;
}
@media (prefers-color-scheme: dark) {
  [color-theme="auto"] {
    --bg-main: #000000;
    --bg-container: #5a2a2a;
    --bg-container-accent: #3d1b1b;
    --bg-settings: #00000088;
    --txt-main: #ffe0e0;
    --txt-light: #ffe0e044;
  }
}

@media screen and (max-width: 620px), (max-height: 760px) {
  :root {font-size: 14px;}
}
@media screen and (max-width: 530px), (max-height: 660px) {
  :root {font-size: 12px;}
}
@media screen and (max-width: 450px), (max-height: 560px) {
  :root {font-size: 10px;}
}
@media screen and (max-width: 380px), (max-height: 470px) {
  :root {font-size: 8px;}
}
@media screen and (max-width: 300px), (max-height: 380px) {
  :root {font-size: 7px;}
}
@media screen and (max-width: 260px), (max-height: 320px) {
  :root {font-size: 6px;}
}
@media screen and (max-width: 230px), (max-height: 280px) {
  :root {font-size: 5px;}
}

@media (hover: hover) and (pointer: fine) {
  a.text:hover {
    color: var(--txt-main);
  }
  #guess-form input.clickable:hover {
    margin-top: -0.125rem;
    margin-bottom: 0.125rem;
    box-shadow: 0 0.625rem 0 var(--bg-container-accent);
  }
  .ui-button:hover {
    color: var(--txt-main);
    background-color: var(--bg-container);
  }
  .ui-button-secondary:hover {
    background-color: var(--bg-container);
  }
  .ui-button-alternate:hover {
    color: var(--txt-main);
    border: 0.125rem dashed var(--txt-main);
  }
  .gamemode-label:hover,
  .theme-label:hover {
    opacity: 100%;
  }
}

@media (max-width: 178px), (max-height: 226) {
  html, body {
    overflow-y: hidden;
    overscroll-behavior: contain;
    touch-action: none;
  }
}

html {
  filter: hue-rotate(var(--random-hue));
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--bg-main);

  &::selection {
    color: var(--bg-main);
    background-color: var(--txt-main);
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--txt-main);
  background-color: var(--bg-settings);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--txt-main);
}

.overlay-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--txt-main);
}
.overlay-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin: 1rem;
  border-top: 0.25rem solid var(--txt-main);
  border-bottom: 0.25rem solid var(--txt-main);
}

.title-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
#title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.text {
  width: 34rem;
  text-align: center;
}
a.text {
  width: fit-content;
  color: var(--txt-light);
  text-decoration: underline;
}
.page-info {
  font-family: sans-serif;
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--txt-light);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  width: 27rem;
  gap: 1rem;
}

.stats {
  display: flex;
  align-items: space-between;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}
.stats span.l {text-align: left;}
.stats span.c {text-align: center;}
.stats span.r {text-align: right;}
.stats span {width: 9rem;}
#score, #highscore, #gamemode {font-weight: 700;}
#gamemode {font-style: normal;}

#icon-text {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem;
  width: calc(100% - 2rem);
  background-color: var(--bg-container);
  border-radius: 1rem;
  text-align: center;
}

.time-remaining-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--bg-container);
}
#time-bar {
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--txt-main);
}

#guess-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 27rem;
  -webkit-user-select: none;
  user-select: none;
}
#guess-form input {
  font-size: 4rem;
  padding: 1rem;
  color: var(--txt-main);
  background-color: var(--bg-container);
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0.5rem 0 var(--bg-container-accent);
  transition: background-color 0.1s;
}
#guess-form input.clickable {
  cursor: pointer;
  transition: 0.1s ease-out;

  &:active {
    margin-top: 0.125rem;
    margin-bottom: -0.125rem;
    box-shadow: 0 0.375rem 0 var(--bg-container-accent);
  }
}
#guess-form input.disabled {
  color: var(--bg-container-accent);
}

.control-buttons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.control-button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ui-button {
  width: 13rem;
  padding: 0.5rem 0;
  color: var(--bg-main);
  background-color: var(--txt-main);
  border: none;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}
.ui-button-secondary {
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--txt-main);
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.ui-button-alternate {
  margin: 1rem 0;
  width: 13rem;
  padding: 0.5rem 0;
  color: var(--txt-light);
  border: 0.125rem dashed var(--txt-light);
  background-color: transparent;
  border-radius: 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.setting-description {
  font-size: 1.5rem;
  font-weight: 700;
}
.gamemode-form, .theme-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 3rem;
}
.gamemode-label,
.theme-label {
  background-color: transparent;
  padding: 0.25rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  opacity: 50%;
}
input[type='radio']:checked + label.gamemode-label, 
input[type='radio']:checked + label.theme-label {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.25rem;
  opacity: 100%;
}

table, td, th {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
}
tr {
  height: 2rem;
}

.stat-list-1 td {
  text-align: right;
  font-weight: 700;
  font-style: italic;
  width: 6.5rem;
}
.stat-list-1 td.stat-description {
  text-align: left;
  font-weight: 500;
  font-style: normal;
  width: 20rem;
}

table.stat-list-2 th {
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 100%;
}
.stat-list-2 td {
  text-align: center;
  font-weight: 400;
  font-style: italic;
  width: 5rem;
}
.stat-list-2 td.stat-description {
  text-align: left;
  font-weight: 500;
  font-style: normal;
  width: 10rem;
}

[hidden] {
  display: none;
}